.borderImg {
  display: flex;
  max-width: 70%;
  margin: 0 auto 40px auto;
  align-items: center;
}

.borderImg img {
  width: 50px;
}

.imgSectionAbout h3 {
  font-size: 26px;
  font-family: "Trajan Pro", sans-serif;
  color: #b76e79;
}

.borderImg p {
  font-size: 20px;
}

footer {
  height: 100%;
  background-color: #b76e79;
  width: 100%;
}

.footer_logo {
  width: 400px;
  margin: 60px 0 20px 50px;
}

.social__link h4 {
  font-size: 34px;
  color: white;
  margin-bottom: 20px;
}

.social__link {
  display: flex;
  margin: 60px 0 20px 0px;
  align-items: center;
  flex-direction: column;
}

.social__link a {
  padding: 10px;
}

.footer__endereço {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 60px 50px 20px 50px;
}

.footer__endereço h4 {
  font-size: 34px;
  margin-bottom: 20px;
  color: white;
}

.footer__endereço p {
  font-size: 15px;
  color: white;
}

.ImgLinks {
  display: flex;
  max-width: 700px;
  justify-content: space-between;
  margin: 0 auto;
}

.ImgLinks .SocialImg {
  display: block;
  text-align: center;
}

.footer__endereço h6 {
  color: white;
}

footer h2 {
  margin-top: 25px;
  color: white;
}

/*Media Queries*/

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .footer__image img {
    display: flex;
    width: 40%;
    margin: 20px auto 0 auto;
  }

  .social__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  footer .container {
    width: 100%;
    justify-content: center;
  }
}
